# Byte-compiled / optimized / DLL files
*.py[cod]
*.pyo
*.pyd
__pycache__/

# Virtual environment directories
env/
venv/
ENV/
ENV.bak/
venv.bak/

# Django specific
*.log
*.pot
db.sqlite3

staticfiles/
credentials/
assets/
*/migrations/*.py
!*/migrations/__init__.py

# PyCharm project files
.idea/
*.iml
secrets.env
.venv
# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

credentials.rar

# Environment variables
.env
.env.*

# Test coverage files
coverage.xml
*.cover
.hypothesis/

# Profiling data
*.prof

# Cache files
*.cache
