<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>submited</title>
</head>
<body>
<h1>Thank you for your submission</h1>
<span>
{#{% for subm in submmissions %}#}
{{ subm.name }}
    <br>
{{ subm.email }}
    <br>
{{ subm.contact }}
    <br>
{{ subm.province }}
    <br>
{{ subm.city }}
    <br>
{{ subm.location }}
    <br>
{{ subm.condition }}
    <br>
</span>
<img src="{{ subm.image.url }}" alt="{{ subm.name }}" width="300" height="auto">
<br>
</body>


</body>
</html>